@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
	display: none;
}
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Animations */

.slide-in {
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-name: slidein;
}

.slide-out {
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-name: slideout;
}

@keyframes slidein {
	from {
		bottom: initial;
	}

	to {
		bottom: 2;
	}
}

@keyframes slideout {
	from {
		bottom: 2;
	}

	to {
		bottom: 112px;
	}
}

.test-slide-in {
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-name: test-slide-in;
}
.test-slide-out {
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-name: test-slide-out;
	animation-fill-mode: forwards;
}

@keyframes test-slide-in {
	from {
		left: -128px;
	}

	to {
		left: 0;
	}
}

@keyframes test-slide-out {
	from {
		left: 0;
	}

	to {
		left: -128px;
	}
}
